<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <!--<form #customer="ngForm" novalidate>-->
    <!--<input #email="ngModel" type="email" name="email"-->
           <!--[(ngModel)]="email" placeholder="email" required>-->
    <!--<input type="password" name="password"-->
           <!--[(ngModel)]="password" placeholder="pass">-->

  <!--</form>-->
  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
